a:hover {
    cursor:pointer;
   }
.leftcol{
    background-color: bisque;
}
input{
    /* border: none; */
    border-bottom: 1px solid goldenrod;
}
/* .html { background-color: black; } */
/* .background{
    background-color: black;
    color: blue;
}
ng-template{
    background-color: aqua;
} */


