.list{
    margin-top: 2%;
}

.cursortoMouse{
    cursor: pointer;
  }

.navbar h4{
    /* list-style-type: none; */
    padding: 1;
    /* display: flex;
    margin:0; */
    /* font-size: small; */
    font-size: medium;
    /* flex-direction: row; */
    /* justify-content: space-around; */
}